{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des constructeurs{% endblock %}

{% block body %}
   
<div class="container divadmin">  
<h1>Liste des constructeurs</h1>
<a class="btn btn-outline-primary admin" href="{{ path('constructor_new') }}">Ajouter nouveau constructeur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image de couverture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constructor in constructors %}
            <tr>
                
                <td>{{ constructor.name }}</td>
                <td><img src="/uploads/{{ constructor.cover }}" width="150px"/></td>
                <td>
                   
                    <a class="btn btn-primary mt-2" href="{{ path('constructor_edit', {'id': constructor.id}) }}">Editer</a> 
                    {{ include('admin/admin_constructor/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    </div>
{% endblock %}
