{% extends 'layout.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

   
<div class="container">
 <h1 class="mt-2">Veuillez vous enregistrer</h1>
    <div class="w-50 p-3">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.images) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-lg btn-primary mt-3" type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
  </div>  
  </div>
{% endblock %}
