{% extends 'layout.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}


	<div class="container">
		
		<div class="row">

			<div class="col-md"></div>
			<div class="col-md">
            <h1 class="mt-4 mb-4">Veuillez vous enregistrer</h1>
            <div class="card px-4">
            <form class="mt-4">
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.firstname) }}
				{{ form_row(registrationForm.pseudo) }}
				{{ form_row(registrationForm.images) }}
				{{ form_row(registrationForm.email) }}

				{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button class="btn btn-primary mt-4 mb-4" type="submit" class="btn">S'enregistrer</button>
				{{ form_end(registrationForm) }}
                </form>
			</div>
            </div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}
