{% extends 'layout.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<h1>{{ category.name }}</h1>
	<div class="container">
	<a href="{{ path('accueil') }}">Retour à l'accueil</a>
		<div class="card-group">
{% for article in category.articles %}
			<div class="card">
					<span>{{ article.createdAt|date('Y-m-d') }}</span>
					<span>{{ article.author.firstname }}
						{{ article.author.name }}</span>
					<p>{{ article.title }}</p>
					<img src="/uploads/{{ article.cover }}"/>
					<p>{{ article.content |u.truncate(200,'...')}}</p>
					<a href="{{ path('main_article_show', {'id': article.id}) }}">Voir l'article</a>

				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}
