{% extends 'base.html.twig' %}

{% block title %}ResponseForum{% endblock %}

{% block body %}
    <h1>ResponseForum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ response_forum.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ response_forum.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ response_forum.createdAt ? response_forum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('response_forum_index') }}">back to list</a>

    <a href="{{ path('response_forum_edit', {'id': response_forum.id}) }}">edit</a>

    {{ include('response_forum/_delete_form.html.twig') }}
{% endblock %}
