{% extends 'layout.html.twig' %}

{% block title %}Jeux Lag'
{% endblock %}

{% block body %}


	<div class="container front">
		<h1 class="mb-4 mt-4 surligner">Vues et Revue</h1>
		<div class="row">
			<div class="col-md-8 ">
				{% for article in articles %}
					<div class="card md-8 shadow-2-strong mb-4">
						<div class="row g-0">
							<div class="col-md-4 ">
								<img src="/uploads/{{ article.cover }}" alt="{{article.title}}" class="img-fluid"/>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">{{ article.title }}</h5>
									<span class="badge bg-success">{{ article.category.name }}</span>
									<p class="card-text">
										<small class="text-muted">{{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}</small>
									</p>
									<p class="card-text">{{ article.author.pseudo }}
										</p>
									<p class="card-text">
										{{ article.content|striptags|u.truncate(200,'...') }}
									</p>
									<div class="card-footer">
										<a class="btn btn-secondary" href="{{ path('main_article_show', {'id': article.id}) }}">Voir l'article</a>

										<a class="btn btn-link js-like" href="{{ path('like_article',{'id': article.id}) }}">
											{% if app.user and article.isLikedByUser(app.user) %}
												<i class="fas fa-thumbs-up"></i>
											{% else %}
												<i class="far fa-thumbs-up"></i>
											{% endif %}
											<span class="js-likes">{{ article.articleLikes | length }}</span>
											<span class="js-label">J'aime</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div>
				{{ knp_pagination_render(articles) }}
				</div>
			</div>
			<div class="col-4 category-home">
				<div class="card mb-3 shadow-3 gradient-custom" style="max-width: 18rem;">
					<div class="card-header">
						<h3>Types de jeux</h3>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for category in categories %}
								<li class="nodeco">
							<i class="far fa-hand-point-right"></i>
							<a class="text-white ms-2" href="{{ path('main_category_show', {'id': category.id}) }}">{{ category.name }}</a>
								</li>
							{% endfor %}
						</p>
					</div>
					<div class="card-header">
						<h3>Tous les Auteurs</h3>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for author in authors %}
									<li class="nodeco">
								<i class="fas fa-user-edit"></i>
									<a class="text-white ms-2" href="{{ path('author_profile_show',{'id': author.id}) }}">{{ author.pseudo}}</a>
								</li>
								
							{% endfor %}
						</p>
					</div>
					<div class="card-header">
						<h3>Derniers sujets du forum</h3>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for message_forum in message_forums %}

								<li class="nodeco">
								<i class="far fa-comments"></i>
									<a class="text-white ms-2" href="{{ path('message_forum_show', {'id': message_forum.id}) }}">
						{{ message_forum.subject}}</a>
								</li>
							{% endfor %}
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="/js/like.js"></script>

{% endblock %}
