{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des consoles{% endblock %}

{% block body %}
<h1>Liste des consoles</h1>
<div class="container divadmin">
<button type="button" class="btn btn-outline-primary admin" data-mdb-ripple-color="dark"><a href="{{ path('console_new') }}">Ajouter une console</a></button>
    <table class="table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>ReleaseYear</th>
                <th>Cover</th>
                <th>ProductBy</th>
                <th>actions</th>
                <th>jeux</th>
            </tr>
        </thead>
        <tbody>
        {% for console in consoles %}
            <tr>
               
                <td>{{ console.name }}</td>
                <td>{{ console.releaseYear }}</td>
                <td><img src="/uploads/{{ console.cover }}"width="200" height="150"/></td>
                <td>{{ console.constructor.name }}</td>
                <td>{{ console.game.name }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary admin" data-mdb-ripple-color="dark"><a href="{{ path('console_edit', {'id': console.id}) }}">Editer</a></button>
                    {{ include('admin/admin_console/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div> 
{% endblock %}
