{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des consoles{% endblock %}

{% block body %}

<div class="container">
<h1>Liste des consoles</h1>
<a class="btn btn-primary mb-2" data-mdb-ripple-color="dark" href="{{ path('console_new') }}">Ajouter une console</a>
    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Anne de sortie</th>
                <th>Couverture</th>
                <th>Produit par</th>
                <th>Jeux</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for console in consoles %}
            <tr>
               
                <td>{{ console.name }}</td>
                <td>{{ console.releaseYear }}</td>
                <td><img src="/uploads/{{ console.cover }}"width="200" height="150"/></td>
                <td>{{ console.constructor.name }}</td>
               
                <td> {% for game in console.games %}
                <li>{{ game.name }}</li>
                {% endfor %}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark"><a href="{{ path('console_edit', {'id': console.id}) }}">Editer</a></button>
                    {{ include('admin/admin_console/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div> 
{% endblock %}
