{% extends 'admin/layout.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
<div class="container">
 <a class="btn btn-primary mt-4 mb-2" href="{{ path('admin_console') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    <h1 class="mt-4 mb-4">Console</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ console.name }}</td>
            </tr>
            <tr>
                <th>ReleaseYear</th>
                <td>{{ console.releaseYear }}</td>
            </tr>
            <tr>
                <th>ProductBy</th>
                <td>{{ console.constructor.name }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td><img src="/uploads/{{ console.cover }}" width="250" height="200"</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('console_edit', {'id': console.id}) }}">Modifier</a>
    </div>
{% endblock %}
