{% extends 'layout.html.twig' %}

{% block title %}Les Jeux{% endblock %}

{% block body %}
<div class="container front">
    <h1>Les Jeux</h1>

    <table class="table">
        <thead>
            <tr>
             
                <th>Name</th>
                <th>Description</th>
                <th>ReleaseYear</th>
                <th>Editor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
              
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.releaseYear }}</td>
                <td>{{ game.editor }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </div>
{% endblock %}
