{% extends 'layout.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<a class="btn btn-light btn-rounded ms-4 mt-3" href="{{ path('accueil') }}">Retour à l'accueil</a>
	<h1>{{ author.pseudo }}</h1>
	<div class="container">
		<div class="row">
			<div class=".col-md-6 .offset-md-3 d-flex justify-content-center">

				<img src="/uploads/{{ author.avatar }}" class="img w-25 p-3 rounded-pill" alt=""/>

			</div>
		</div>
		<div class="col-12 row">
			
			<div class="col-6">
				<h2>Les revues publiées :</h2>
				{% for article in author.articles %}
					<div class="card mb-2" style="max-width: 80vw">
						<div class="row g-0">
							<div class="col-md-4">

								<img src="/uploads/{{ article.cover }}" class="img-fluid rounded-pill"/>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">{{ article.title }}</h5>
									<span>{{ article.author.firstname }}
										{{ article.author.name }}</span>
									<p class="card-text">
										<small class="text-muted">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</small>
									</p>
									<p class="card-text">
										{{ article.content|striptags |u.truncate(100,'...')}}</p>

									<a class="btn btn-primary" href="{{ path('main_article_show', {'id': article.id}) }}">Voir l'article</a>


								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-6"><h2>Qui est-ce?</h2>
				<div class="card">
				
				<p>{{ author.firstname }} {{ author.name }}</p>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
