{% extends 'layout.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

	<div class="container">
	{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
    <div class="alert alert-primary mt-2">
        {{ message }}
    </div>
{% endfor %}
		<a class="btn btn-primary ms-4 mt-3 mb-4" href="{{ path('accueil') }}">Retour à l'accueil</a>
		<h1 class="text-center">{{ author.pseudo }}</h1>
		<div class="col-md-6 offset-md-3 d-flex justify-content-center">
			<img src="/uploads/{{ author.avatar }}" class="img w-25 p-3 rounded-circle mb-4" alt=""/>
		</div>
		<div class="row">

			<div class="col-4 mb-2">
				<h2>Mes revues publiées :</h2>
				{% for article in author.articles %}
					<div class="card">
						<div class="col-6">
							<div class="card-body">
								<h5>{{ article.title }}</h5>
								<span>
									<a class="btn btn-primary" href="{{ path('main_article_show', {'id': article.id}) }}">Voir l'article</a>
								</span>
								<p class="card-text">
									<small class="text-muted">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</small>
								</p>

							</div>
						</div>

					</div>
				{% endfor %}

			</div>
			<div class="col-4">

				<h2 class="card-title">Qui suis-je?</h2>
				{% if app.user and is_granted ('ROLE_AUTHOR') %}
					<a class="btn btn-primary mb-4" href="{{ path('author_biography', {'id': app.user.id}) }}">Raconte te vie!</a>
					{% endif %}
				<div class="card">
					<div class="card-body">
						<p class="card-text">
							{{ author.biography }}
					</div>
					
				</div>
			</div>
			<div class="col-4">

				<h2 class="card-title">Ma chaîne Twitch</h2>
				<div class="card">
					<div id="twitch-embed" class="card-body">
					 <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 854,
        height: 480,
        channel: "revan_63000",
        // only needed if your site is also embedded on embed.example.com and othersite.example.com 
        parent: ["embed.example.com", "othersite.example.com"]
      });
    </script>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
