{% extends 'layout.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div
		class="container">
		{# read and display just one flash message type #}
		{% for message in app.flashes('notice') %}
			<div class="alert alert-primary mt-2">
				{{ message }}
			</div>
		{% endfor %}
		<a class="btn btn-primary ms-4 mt-3 mb-4" href="{{ path('accueil') }}">Retour à l'accueil</a>
		<div class="row">
			<div class="col-md-4">
				<h1 class="mt-2 mb-4">{{ author.pseudo }}</h1>
				<img src="/uploads/{{ author.avatar }}" class="img-fluid rounded-circle mb-4" width=200 alt=""/>
				<div>
					<h3 class="card-title mt-4">Qui suis-je?</h3>
					<div class="card">
						<div class="card-body">
							<p class="card-text">{{ author.biography }}
							</p>
						</div>
					</div>
					{% if app.user == author %}
						<a class="btn btn-warning mt-4 mb-4" href="{{ path('author_biography', {'id': app.user.id}) }}">Ajoute ta bio!</a>
					{% endif %}
				</div>
			</div>
			<div class="col-md-8">
				<h2 class="card-title">Ma chaîne Twitch</h2>
				<div
					id="twitch-embed" class="card-body">
					<!-- Load the Twitch embed script -->
					<script src="https://embed.twitch.tv/embed/v1.js"></script>

					<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
					<script type="text/javascript">
						$player ="{{ author.twitchChannel }}";
new Twitch.Embed("twitch-embed", {
width: 854,
height: 480,
channel: $player
});
					</script>
				</div>
			</div>
		</div>
		<div>
			<h2>Mes revues publiées :</h2>
			{% for article in author.articles %}
				<div class="card">
					<div class="col-6">
						<div class="card-body">
							<h5>{{ article.title }}</h5>
							<span>
								<a class="btn btn-primary" href="{{ path('main_article_show', {'id': article.id}) }}">Voir l'article</a>
							</span>
							<p class="card-text">
								<small class="text-muted">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</small>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
