{% extends 'layout.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<h1>Article</h1>
	<div class="container">
		<div class="card article">
			<img class="card-img-top" src="/uploads/{{ article.cover }}" width="450" height="300" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ article.title }}</h5>
				<p class="card-text">
					<small class="text-muted">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</small>
				</p>

				<p class="card-text">{{ article.content }}</p>
			</div>
		</div>
		<div class="card comment">
		<h3>Commentaires</h3>
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('comment_new', {'id': article.id}) }}">Ajouter un commentaire</a>
		{% else %}
		Veuillez vous <a href="{{ path('app_login') }}">connecter</a> ou vous <a href="{{path('app_register')}}">enregister</a> pour commenter cet article!
		 {% endif %}
		<hr>
		
			
			{% for comment in article.comments %}
				<span>Ecrit le
					{{ comment.createdAt|date('Y-m-d') }}</span>
				<p> <img class="avatar" src="/uploads/{{ comment.author.avatar }}"> {{ comment.author.pseudo }}</p>
				<p>{{ comment.content|raw  }}</p>
				<hr>
			{% endfor %}

		</div>
    </div>
	{% endblock %}
