{% extends 'admin/layout.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %} 

<div class="container">
{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
    <div class="alert alert-primary mt-2">
        {{ message }}
    </div>
{% endfor %}
<h1>Liste des Catégories</h1>
<a class="btn btn-primary mt-2 mb-2" href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Activée</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ category.description | u.truncate(100,"...") }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark"><a href="{{ path('category_show', {'id': category.id}) }}">Voir</a></button>
                    <button type="button" class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark"><a href="{{ path('category_edit', {'id': category.id}) }}">Editer</a></button>
                    <button type="button" class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark"><a href="{{ path('category_change_status', {'id': category.id}) }}">
                        {{ category.enabled ? 'Désactiver' : 'Activer'}}
                    </a></button>
                    {{ include('admin/category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
