{% extends 'layout.html.twig' %}

{% block title %}Forum de discussion{% endblock %}

{% block body %}
<div class="container">
    <h1>Forum de discussion</h1>
<div class="card text-white bg-primary mb-3">
  <div class="card-header">Dernières discussions du forum</div>
  <div class="card-body">
  {% for subject in subjects %}
    <a href="{{ path('message_show', {'id': subject.id}) }}"><h5 class="card-title">{{ subject.title }}</h5></a>
     {% for message in subject.messages %}
  <span>Dernier message par: {{ message.author.pseudo }}</span> <span>  le: {{ message.createdAt ? message.createdAt|date('Y-m-d') : ''  }}</span></br>
  {% endfor %}
     {% endfor %}
  </div> 
</div> 
    <a href="{{ path('message_new') }}">Creer une nouvelle discussion</a>
    </div>
{% endblock %}
