{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des Jeux{% endblock %}

{% block body %}

<div class="container">
{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
    <div class="alert alert-primary mt-2">
        {{ message }}
    </div>
{% endfor %}
   <h1 class="mt-4">Liste des Jeux</h1> 
<a class="btn btn-primary mt-4 mb-4" data-mdb-ripple-color="dark" href="{{ path('game_new') }}">Ajouter un jeu</a>
    <table class="table table-striped table-light">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Année de sortie</th>
                <th>Editeur</th>
                <th>Couverture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.description| u.truncate(80,'...') }}</td>
                <td>{{ game.releaseYear }}</td>
                <td>{{ game.editor }}</td>
                <td><img src="/uploads/{{ game.cover }}"width="200" height="150"></td>
                
                <td>
                   <a class="btn btn-primary mb-2" data-mdb-ripple-color="dark" href="{{ path('game_show', {'id': game.id}) }}"><i class="far fa-eye"></i> Voir</a>
                   <a class="btn btn-primary mb-2" data-mdb-ripple-color="dark" href="{{ path('game_edit', {'id': game.id}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a>
                     {{ include('admin/admin_game/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
