{% extends 'admin/layout.html.twig' %}

{% block title %}Les Jeux{% endblock %}

{% block body %}

<div class="container">
   <h1>Les Jeux</h1> 
 <button class="btn btn-outline-primary admin" data-mdb-ripple-color="dark"><a href="{{ path('game_new') }}">Ajouter un jeu</a></button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Année de sortie</th>
                <th>Editeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.releaseYear }}</td>
                <td>{{ game.editor }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"><a href="{{ path('game_show', {'id': game.id}) }}">Voir</a></button>
                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"><a href="{{ path('game_edit', {'id': game.id}) }}">Editer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
