{% extends 'admin/layout.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    
<div class="container divadmin">
    <a class="btn btn-primary mt-2" href="{{ path('game_index') }}">Retour</a>
<h1>Jeu</h1>
    <table class="table">
        <tbody>
           
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>ReleaseYear</th>
                <td>{{ game.releaseYear }}</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>{{ game.editor }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mt-2" href="{{ path('game_edit', {'id': game.id}) }}">Editer</a>

    {{ include('admin/admin_game/_delete_form.html.twig') }}
    </div>
{% endblock %}
