{% extends 'admin/layout.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    
<div class="container divadmin">
    <a class="btn btn-primary mt-4 mt-2" href="{{ path('admin_game') }}">Retour</a>
<h1 class="mt-4 mb-4">Jeu</h1>
    <table class="table">
        <tbody>
           
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Année de sortie</th>
                <td>{{ game.releaseYear }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ game.editor }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('game_edit', {'id': game.id}) }}">Modifier</a>

    </div>
{% endblock %}
