{% extends 'admin/layout.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	
	<div class="container-fluid divadmin">
	<h1>Liste des reviews</h1>
			<a class="btn btn-outline-primary admin" data-mdb-ripple-color="dark" href="{{ path('article_new') }}">Créer une nouvelle review</a>
		</p>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Contenu</th>
					<th scope="col">Couverture</th>
					<th scope="col">Catgorie</th>
					<th scope="col">Auteur</th>
					<th scope="col">Publié</th>
					<th scope="col">Crée le</th>
					<th scope="col">Mis à jour le</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.title }}</td>
						<td>{{ article.content|striptags|u.truncate(100,'...') }}</td>
						<td><img src="/uploads/{{ article.cover }}" width="150" height="100"/></td>
						<td>{{ article.category.name }}</td>
						<td>{{ article.author.pseudo }}</td>

						<td>{{ article.published ? 'Yes' : 'No' }}</td>
						<td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark" href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
							<a class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
							<a class="btn btn-outline-primary mb-2" data-mdb-ripple-color="dark" href="{{ path('article_change_status', {'id': article.id}) }}">
								{{ article.published ? 'unpublish' : 'publish'}}
							</a>
							{{ include('admin/article/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	</div>
{% endblock %}
