{% extends 'admin/layout.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container divadmin">
    <h1>Revue</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content | striptags }}</td>
            </tr>
            <tr>
                <th>Couverture</th>
                <td><img src="/uploads/{{ article.cover }}"/></td>
            </tr>
            <tr>
                <th>Publié</th>
                <td>{{ article.published ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted ('ROLE_ADMIN') %}
    <a class="btn btn-outline-primary admin" href="{{ path('article_index') }}">back to list</a>
    {% endif %}
    {% if is_granted ('ROLE_AUTHOR') %}
    <a class="btn btn-outline-primary admin" href="{{ path('article_index',{'id': app.user.id}) }}">back to list</a>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>

    {{ include('admin/article/_delete_form.html.twig') }}
    </div>
{% endblock %}
