{% extends 'layout.html.twig' %}

{% block title %}Forum de discussion
{% endblock %}

{% block body %}
	<div class="container">
		<a class="btn btn-primary mt-4 mb-4" href="{{ path('accueil') }}">Retour à l'accueil</a>
		<h1 class="mb-4 mt-2">Bienvenue sur notre forum!</h1>
		<h2 class="mb-4 mt-2 surligner">Les derniers sujets:</h2>
		{% for message_forum in message_forums %}
			<div class="card mb-4 shadow-3-strong">

				<div class="card-header">
					<a href="{{ path('message_forum_show', {'id': message_forum.id}) }}">
						<h5 class="card-title">{{ message_forum.subject}}</h5>
					</a>
					<div class="row">
						<div class="col-md-6">
							<span class="text-muted">{{ message_forum.createdAt | date('d/m/y')}}<span></div>
								<div class="col-md-4">
									<span class="right">nombre de réponses:{{message_forum.responseForums | length}}</span>
								</div>
							</div>
						</div>
						

					</div>
				{% endfor %}
				{% if is_granted('ROLE_USER') %}
					<a class="btn btn-secondary mt-2 mb-2" href="{{ path('message_forum_new') }}">Ouvrir un nouveau sujet</a>
				{% else %}
					Veuillez vous
					<a href="{{ path('app_login') }}">connecter</a>
					ou vous
					<a href="{{path('app_register')}}">enregister</a>
					pour ouvrir un nouveau sujet!
				{% endif %}
			</div>
		{% endblock %}
