{% extends 'layout.html.twig' %}

{% block title %}Message
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Discussion</h1>
		<a href="{{ path('message_forum_index') }}">back to list</a>
		<div class="card w-75">
			<div class="card-header">
				{% if message_forum.author.avatar is defined %}
					<img class="avatar" src="/uploads/{{ message_forum.author.avatar }}">
				{% endif %}

				{% if message_forum.author.pseudo is defined %}
					<span>{{ message_forum.author.pseudo }}</span>
				{% endif %}
			</div>
			<div class="card-body">
				<p class="subject">Sujet:
					{{message_forum.subject}}</p>
				<span>{{ message_forum.createdAt ? message_forum.createdAt|date('d-m-Y H:i') : '' }}</span>
				<p class="card-text">
					{{ message_forum.content|raw }}
				</p>
				<div class="card-footer text-muted">

					<a href="{{ path('message_forum_edit', {'id': message_forum.id}) }}">edit</a>
					{{ include('message_forum/_delete_form.html.twig') }}

					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('response_forum_new', {'id': message_forum.id }) }}" class="btn btn-info" data-mdb-ripple-color="dark">
							Répondre</a>
					{% else %}
						Veuillez vous
						<a href="{{ path('app_login') }}">connecter</a>
						ou vous
						<a href="{{path('app_register')}}">enregister</a>
						pour répondre!
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="card w-75">
		{% for responseForum in message_forum.responseForums %}
			<div class="card-header">
				{% if responseForum.author.avatar is defined %}
					<img class="avatar" src="/uploads/{{ responseForum.author.avatar }}">
				{% endif %}
				{% if responseForum.author.pseudo is defined %}
					<span>{{ responseForum.author.pseudo }}</span>
				{% endif %}

				<span>
					le:
					{{ responseForum.createdAt ? responseForum.createdAt|date('d-m-Y H:i') : ''  }}</span>

			</div>
			<div class="card-body">


				<p>{{ responseForum.content|raw}}</p>
				</div>
				<div class="card-footer">

					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('response_to_new', {'id': responseForum.id }) }}" class="btn btn-primary" data-mdb-ripple-color="dark">Répondre à
							{{ responseForum.author.pseudo }}</a>
					{% endif %}

					<a class="btn btn-link js-like" href="{{ path('like_response',{'id': responseForum.id}) }}">
						{% if app.user and responseForum.isLikedByUser(app.user) %}
							<i class="fas fa-thumbs-up"></i>
						{% else %}
							<i class="far fa-thumbs-up"></i>
						{% endif %}

						<span class="js-likes">{{ responseForum.responseLikes | length }}</span>
						<span class="js-label">J'aime</span>
					</a>
					<div class="inline">
					<a href="{{ path('response_forum_edit', {'id': responseForum.id}) }}" class="btn btn-outline-primary" data-mdb-ripple-color="dark">edit</a>
					{{ include('response_forum/_delete_form.html.twig') }}
					</div>
					<hr>
				</div>
			
			<div class="response">

				{% for responseTo in responseForum.responseTos %}

					{% if responseTo.author.avatar is defined %}
						<img class="avatar" src="/uploads/{{ responseTo.author.avatar }}">
					{% endif %}

					{% if responseTo.author.pseudo is defined %}
						<span>{{ responseTo.author.pseudo }}</span>
					{% endif %}
				
					<span>
						le:
						{{ responseTo.createdAt ? responseTo.createdAt|date('d-m-Y H:i') : ''  }}</span>
				</br>
				<p>{{ responseTo.content|raw }}</p>

				<p>
					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('response_to_new', {'id': responseForum.id }) }}" class="btn btn-secondary" data-mdb-ripple-color="dark">Répondre à
							{{ responseTo.author.pseudo }}</a>
					{% endif %}

					{# <a class="btn btn-link js-like" href="{{ path('like_response',{'id': responseForum.id}) }}" >
																								{% if app.user and responseForum.isLikedByUser(app.user) %}
																									<i class="fas fa-thumbs-up"></i>
																								{% else %}
																									<i class="far fa-thumbs-up"></i>
																								{% endif %}
																		
																								<span class="js-likes">{{ responseForum.responseLikes | length }}</span>
																								<span class="js-label">J'aime</span>
																							</a> #}

				</p>
			{% endfor %}
		</div>
		{# {{ knp_pagination_render(message_forum) }} #}
	{% endfor %}
</div>
</div>
</div>
{% endblock %}{% block javascripts %}<script src="https://unpkg.com/axios/dist/axios.min.js"></script><script type="text/javascript" src="/js/like.js"></script>{% endblock %}
