{% extends 'layout.html.twig' %}

{% block title %}Console
{% endblock %}

{% block body %}

	<div class="container">
		<a class="btn btn-primary mt-4 mb-4" href="{{ path('constructor_index') }}">Retour à la page des constructeurs</a>
		<div class="card mb-4">
		<div class="row">
			<div class="col-md d-flex justify-content-center">
			<img src="/uploads/{{console.cover}}"/>
			</div>
			<div class="col-md d-flex justify-content-center">
				<h1>{{ console.name }}</h1>
				
			</div>
			<div class="col-md d-flex justify-content-center">
			<span>{{ console.releaseYear}}</span>
			</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for game in console.games %}
				<div class="col">
					<div class="card h-100">
						<img src="/uploads/{{ game.cover }}" class="card-img-top" alt="..."/>
						<div class="card-body">
							<h5 class="card-title">
								<h3>{{ game.name }}</h3>
							</h5>
							<p class="card-text">
								{{game.editor}}
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">
								<p>{{ game.releaseYear }}</p>
							</small>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>

	</div>
{% endblock %}
