{% extends 'layout.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
    <h1>{{ console.name }}</h1>
<div class="container front">

{% for game in console.games %}
<h3>{{ game.name }}</h3>
<p>{{ game.releaseYear }}</p>
<p>{{ game.editor }}</p>


    <a class= "btn btn-primary" href="{{ path('constructor_index') }}">Retour à la page des constructeurs</a>
</div>
    {% endfor %}
{% endblock %}
