{% extends 'layout.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<h1 class="mb-4 mt-4">Bienvenue
				{{ user.pseudo }}!</h1>
			<div class="col-md-4  flex justify-content-center">
				<img class="img-fluid rounded-circle" width=300 height=250 src="/uploads/{{ user.avatar }}">
				<h3 class="mt-4">Mes infos personnelles</h3>
				<ul>
					<li>{{ user.firstname }}</li>
					<li>{{ user.name }}</li>
					<li>{{ user.email }}</li>
				</ul>
				<p>
					<a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes informations</a>
				</p>
				<p>
					{{ include('user/_delete_form.html.twig') }}
				</p>
			</div>
			<div class="col-md-6 ms-4">
				<h3 class="card-title mb-4">Messages privés</h3>

				{% for privateMessage in privateMessages %}
					<div class="card border border-info mb-4 shadow-3-strong">
						<div class="card-header row">
							<div class="col-md-4">De:
								{{ privateMessage.sender.pseudo }}
								<span>
									<a class="ms-4" href="{{ path('private_message_new',{'id': privateMessage.sender.id }) }}" data-mdb-toggle="tooltip" title="Répondre au message">
										<i class="fas fa-envelope"></i>
									</a>
								</span>
							</div>
							<div class="col-md-4">le:
								{{ privateMessage.createdAt | date('d/m/Y') }}</div>
							<div class="col-md-4">{{ include('private_message/_delete_form.html.twig') }}</div>
						</div>
						<div class="card-text p-3">
							{{ privateMessage.content | striptags | raw}}
						</div>
					</p>
				</div>
			{% endfor %}

		</div>
	</div>

</div>{% endblock %}
