{% extends 'layout.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

		
	<div class="container front">

	<h1>Bienvenue {{ user.pseudo }}!</h1>
		<div class="row">

			<div class="col-6">
				<img class="img w-50 p-3 rounded-pill" src="/uploads/{{ user.avatar }}">
				<h3>Mes infos personnelles</h3>
				<ul>
					<li>{{ user.firstname }}</li>
					<li>{{ user.name }}</li>
					<li>{{ user.email }}</li>
				</ul>
				<p>
					<a class="btn btn-primary" href="{{ path('user_edit', {'id': author.id}) }}">Modifier mes informations</a>
					{{ include('user/_delete_form.html.twig') }}
				</p>
			</div>
			<div class="col-6">
				<h2 class="card-title">Messages privés</h2>
				<div class="card">{% for privateMessage in privateMessages %}
					<div class="card-body">
							<p class="card-text">
								De:
								{{ privateMessage.sender.pseudo }}
							<span class="muted">le:
							{{ privateMessage.createdAt | date('d/m/Y') }}</span></p>
							<p class="card-text">Message:
								{{ privateMessage.content | striptags }}</p>
						</div><hr>
                        {% endfor %}
					</div>
				
			</div>
		</div>

	</div>
{% endblock %}
